<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="M_Soft_SPA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <M_Soft_SPA.Properties.Settings>
            <setting name="DBPath" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>SPA_DB</value>
            </setting>
            <setting name="DBPass" serializeAs="String">
                <value>P@ssw0rd</value>
            </setting>
            <setting name="LicenseCode" serializeAs="String">
                <value>LicenseCode</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="DefUserName" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="DefDepartment" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="AllocationColumns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplittingColumns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkinName" serializeAs="String">
                <value>Basic</value>
            </setting>
            <setting name="MainDBName" serializeAs="String">
                <value>Main_DB</value>
            </setting>
            <setting name="DefShop" serializeAs="String">
                <value>Shop</value>
            </setting>
            <setting name="TaxStateRec" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="KeyWord" serializeAs="String">
                <value />
            </setting>
        </M_Soft_SPA.Properties.Settings>
    </userSettings>
</configuration>